form li{
  list-style: none;
  margin-bottom: 50px;
}
label{
  display: block;
  cursor: pointer;
  color: red;
  padding-bottom: 10px;

}

form ul{
  padding-left: 0;
}
textarea{
  width: 400px;
  height: 200px;

}
h1{
  background: url(../images/logo.jpg) no-repeat;
  text-indent: -9999px;
  width: 223px;
  height: 124px;
  
}
